/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-family: 'PT serif', serif;
  background-image: url("../../img/gw2Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  text-shadow: -1px 0 black, 0 2.2px black, 2.2px 0 black, 0 -1px black;
  line-height: 1.5rem;
  letter-spacing: 1px;
  transform: scale(1.0);
  z-index: 1;
}
body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.smc {
  display: flex;
  flex-direction: row-reverse;
  text-shadow: none;
}
.smc a {
  text-decoration: none;
  background-color: rgb(207,196,179);
  border: 2px solid rgb(207,196,179);
  border-radius: 2px;
  margin: 5px;
  color: black;
}
header {
  width: 100%;
}
.heading-title {
   filter: drop-shadow(0 0 5px white)
}
h1 {
  text-align: center;
  text-shadow: -1px 0 black, 0 2.2px black, 2.2px 0 black, 0 -1px black;
  margin: 0;
  padding-bottom: 1rem;
}
h2 {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}
h3 {
  margin-bottom: 1rem;
}
img {
  width: 5rem;
  padding: 1rem;
  filter: drop-shadow(0 0 5px black);
}
main {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
/******************************************
/* Spec Selection
/*******************************************/
.coreSpecs {
  background-color: #1212128c;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 10px;
}
.coreSpecs ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}
.specSelection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
.specSelection h2 {
  text-align: center;
}
.specSelection li {
  cursor: pointer;
}
ul {
  list-style: none;
}
.video {
  border-radius: 2rem;
  width: 40rem;
  height: 40vh;
  object-fit: cover;
}
/******************************************
/* Class Show Case
/*******************************************/
.classShowCase {
  display: flex;
  justify-content: center;
}
/******************************************
/* Spec Description
/*******************************************/
.specDescription {
  width: 70rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border: 2px solid white;
  border-radius: 2rem;
  display: none;
}
.specHighlights, .specWeapons, .specP {
  padding: 0rem 3rem 0rem 3rem;
}
p {
  padding-bottom: 10px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.guardColors {
  font-weight: bold;
  color: #66CCFF;
}
.RevColors {
  font-weight: bold;
  color: #D16E5A;
}
.warColors {
  font-weight: bold;
  color: #F4983D;
}
.engiColors {
  font-weight: bold;
  color: #D09C59;
}
.rangeColors {
  font-weight: bold;
  color: #67A833;
}
.thiefColors {
  font-weight: bold;
  color: #C08F95;
}
.eleColors {
  font-weight: bold;
  color: #F6BEBC;
}
.mesColors {
  font-weight: bold;
  color: #D09EEA;
}
.necroColors {
  font-weight: bold;
  color: #30e56e;
}
/******************************************
/* Media Queries
/*******************************************/
/* ------------------------ */
/* Below 1344px (smaller screens) */
/* ------------------------ */

/* ------------------------ */
/* Below 1200px (Landscape tablets) */
/* ------------------------ */

/* ------------------------ */
/* Below 944px (tablets) */
/* ------------------------ */
@media (max-width: 59em) {

  body {
    background-size: 90em 100%;
  }
  .specSelection {
    margin: 0 auto;
    width: 25em;
    max-width: 100%;
  }
  .video {
    border-radius: 1em;
    width: 22em;
    height: 35vh;
  }
  .specHighlights, .specWeapons, .specP {
  padding: 1em;
}
/* ------------------------ */
/* Mobile navigation */
/* ------------------------ */
}
/* ------------------------ */
/* Below 704px (Small Tablets) */
/* ------------------------ */
@media (max-width: 44em) {
  
}
/* ------------------------ */
/* Below 544px (Phones) */
/* ------------------------ */
@media (max-width: 34em) {
  .specSelection {
    width: 21em;
  }
  .video {
    width: 19em;
  }
}
@media (max-width: 29em) {
  .coreSpecs {
    padding: 5px;
  }
  .video {
    width: 17em;
  }
}